/* SCSS HEX */
$champagne: rgb(243, 233, 210);
$dark-champagne: rgba(173, 150, 95, 0.988);
$dark-green: #091e05ff;
$xanadu: #708b75ff;
$header-mint-shade: #3d6647;
$lightest-mint-shade: rgb(153, 255, 178);
$lightest-mint-shade-highlight : rgb(183, 285, 208);
$mint-shade-2:#7acc8f;
$mint-shade-3:#5c996b;
$mint-shade-4:#3d6647;

/* SCSS HSL */
$champagne: hsla(42, 58%, 89%, 1);
$dark-green: hsla(110, 71%, 7%, 1);
$xanadu: hsla(131, 11%, 49%, 1);

/* SCSS RGB */
$champagne: rgba(243, 233, 210, 1);
$dark-green: rgba(9, 30, 5, 1);
$xanadu: rgb(25, 88, 37);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #f3e9d2ff, #091e05ff, #708b75ff, #ffffffff);
$gradient-right: linear-gradient(90deg, #f3e9d2ff, #091e05ff, #708b75ff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #f3e9d2ff, #091e05ff, #708b75ff, #ffffffff);
$gradient-left: linear-gradient(270deg, #f3e9d2ff, #091e05ff, #708b75ff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #f3e9d2ff, #091e05ff, #708b75ff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #f3e9d2ff, #091e05ff, #708b75ff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #f3e9d2ff, #091e05ff, #708b75ff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #f3e9d2ff, #091e05ff, #708b75ff, #ffffffff);
$gradient-radial: radial-gradient(#f3e9d2ff, #091e05ff, #708b75ff, #ffffffff);