#explanation-container {
    height: 100%;
    grid-area: explanation;
}
#side-menu-container {
    grid-area: sidemenu;
}

@media only screen and (min-width : 800px) {
    #side-menu-container {
        display: block;
    }
    #content {
        display: grid;
        grid-template-areas: "explanation explanation explanation explanation sidemenu";
    }
    
}

@media only screen and (min-width: 1200px) {
    #content {
        grid-template-areas: "explanation explanation explanation explanation explanation sidemenu";
    }
    
}