@import "_colorSetup";

#explanation {
    color: $mint-shade-2;
    background-image: url(../resources/images/background-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .explanations {
        min-height: 55vh; 
        position: relative;

        .content-container {
            top: 10%;
            position: absolute;
        }
                
        p {
            background-color: $dark-green;
            padding: 10px;
            text-align: justify;
            margin: 0px 40px 0px 40px;
            border-radius: 15px;
        }
    } 
}

@media only screen and (min-width:600px) {
    #explanation {
    
        

        .explanations {
                    
            .content-container {
                top: 25%;
            }

            p {
                position: relative;
                width: 70%;
                left: 40%;
                transform: translate(-41%,0);
                background-color: $dark-green;
                padding: 20px;
                text-align: justify;
                margin: 20px;
                border-radius: 15px;
            }
    
        }
    }
}

@media only screen and (min-width:800px) {
    #explanation {
    
        .explanations {

            p {
                width: 70%;
                left: 40%;
                transform: translate(-40%,0);
                background-color: $dark-green;
                padding: 50px;
                text-align: justify;
                margin: 10px 20px;
                border-radius: 15px;
            }
    
        }
    }
    
}