@import "_colorSetup";

* {
    margin: 0;
    padding: 0;
}

#explanation {
    background: white;
    color: $xanadu;
    padding: 0;
    margin: 0;

    #explanation1 {
        background-image: url(../resources/images/background-1.jpg);
        min-height: 40vh;
    }

    #explanation2 {
        background-image: url(../resources/images/background-1.jpg);
        min-height: 40vh;
    }

    #explanation3 {
        background-image: url(../resources/images/background-1.jpg);
        min-height: 40vh;
    }

    .explanations {
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed; 
        position: relative;

        .content-container {
            position: absolute;
            left: 50%;
            top: 50%;
        }
                
        p {
            background-color: $dark-green;
            padding: 40px;
            text-align: justify;
            margin: 10px 20px;
            transform: translate(-50%,-50%);
        }

        
    }

    
}