@import "_colorSetup.scss";

#side-menu {
    width: 20%;
    right: 0;
    position: fixed;
    background: $header-mint-shade;
    height: 100vh;
    color: $lightest-mint-shade;
    text-align: center;

    

    #logo {
        width: 100%;
    }

    #navigation {
        margin-top: 10vh;
        display: flex;
        position: absolute;
        transform: translate(-50%,0);
        left: 50%;
        list-style: none;
        min-width: 10vw;
        max-width: 15vw;

        li {
            position: absolute;
            width: 100%;
            border: 1px solid $lightest-mint-shade;
            padding: 10px;
            transform: translate(-50%,0);
            left: 50%;
        }

        li:hover {
            cursor: pointer;
            border-left : 3px;
            border-right: 3px;
            border-style: solid;
            border-color: $lightest-mint-shade-highlight;
            color: $lightest-mint-shade-highlight;
            font-weight: bolder;
        }
    }
}

@media only screen and (min-width: 800px) {
    #side-menu {
        width: 20%;
    }
}

@media only screen and (min-width: 1200px) {
    #side-menu {
        width: 16.7%;
    }
}