@import '_colorSetup.scss';

#signup-form-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width: 100%;
    z-index: 15;
    background-color: rgba(32,32,32,.9);

    #overlay {
        width: 60vw;
        height: 70vh;
        background: $dark-green;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        border-radius: 15px;

    }

    #signup-form {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);

    
        label {
            margin: 10px;
            color: $lightest-mint-shade;
            text-align: center;
        }
    
        input {
            width: 100%;
            margin-bottom: 10px;
            padding: 10px 5px;
            border: none;
            border-bottom: 1px solid $lightest-mint-shade;
            background-color: $dark-green;
            color: $lightest-mint-shade;
            text-align: center;
        }

        input::placeholder {
            color: $lightest-mint-shade;
            text-align: center;
            font-size: 1.1rem;
            font-weight: bold;
        }

        input::-webkit-input-placeholder {
            color: $lightest-mint-shade;
            text-align: center;
            font-size: 1.1rem;
            font-weight: bold;
        }

        input:focus {
            outline: none;
            border-bottom: 2px solid;
            border-color: $lightest-mint-shade-highlight;
        }

        input:focus::placeholder, input:focus::-webkit-input-placeholder{
            color: $lightest-mint-shade-highlight;
        }

        #signup-btn {
            padding: 10px 50px;
            margin-bottom: 10px;
            background: $mint-shade-4;
            border: none;
            border-radius: 20px;
            color: $lightest-mint-shade;
            font-weight: bold;
            font-size: 1.1em;
            outline: none;
        }

        #signup-btn:hover {
            color: $lightest-mint-shade-highlight;
            background-color: $mint-shade-3;
        }

        #signup-btn:disabled {
            background: $mint-shade-5;
            color: $mint-shade-4;
        }
    }

}

